body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  float: left;

  
  
}

.header {
  background-color: #ee520a;
  color: #ggg;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
}

.main {
  background-color: #a09b82;
  height: 600px;
}

.footer {
  background-color: #d7ccff;
  height: 270px;
}
